.wrapper_01 {
  width: 990px;
  margin: 0 auto;
}

.wrapper_02 {
  width: 1300px;
  margin: 0 auto;
}

.wrapper_03 {
  width: 1200px;
  margin: 0 auto;
}

/* 字体颜色 */
.fc_01 {
  color: #c9c9dd;
}

/* 标题封装01---内容中心&英雄/皮肤 */
.item_header {
  display: flex;
  justify-content: space-between;
  height: 26px;
  line-height: 25px;
}

.item_header .title {
  padding-left: 33px;
  color: #323235;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  background: url("../img/main_sprite.png") no-repeat 0 9999px;
}

.item_header .more {
  padding-left: 22px;
  color: #999;
  background: url("../img/main_sprite.png") no-repeat -252px 6px;
}

.item_header .more:hover {
  color: #f3c258;
}

/* 一级标题列表封装 */
.main_titleList {
  display: flex;
  text-align: center;
}

/* 二级标题列表封装 */