body {
  padding-top: 200px;
}

/* 赛事中心 */
.match {
  display: flex;
  justify-content: space-between;
}

/* 左区域-----赛事中心 */
.match .area-left {
  width: 872px;
}

.match .area-left .item_header {
  margin-bottom: 16px;
}

.match .area-left .item_header h3 {
  background-position: 0 -184px;
}

.match .area-left .container-left .main_titleList {
  margin-bottom: 19px;
}

.match .area-left .container-left .show .notice {
  display: flex;
  justify-content: space-between;
}

.match .area-left .container-left .show .notice .album {
  width: 211px;
  height: 260px;
  margin-right: 19px;
}

.match .area-left .container-left .show .notice .album img {
  width: 100%;
  height: 100%;
}

.match .area-left .container-left .show .notice .desc {
  flex-grow: 1;
  background-color: skyblue;
}

.match .area-left .container-left .show .notice .desc .match-title a {
  display: block;
  height: 32px;
  margin-right: 66px;
  line-height: 32px;
  font-size: 24px;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

/* 右区域 ----KPL赛程*/
.match .area-right {
  width: 295px;
}