body {
  padding-top: 100px;
}

.mainItem {
  display: flex;
  justify-content: space-between;
  height: 549px;
}

/* 左边区域------------------------------------------------------- */
.mainItem .area-left {
  width: 872px;
  height: 549px;
}

.mainItem .area-left .item_header {
  margin-bottom: 16px;
}

.mainItem .area-left .item_header .title {
  background-position: 0 -106px;
}

/* 主标题列表微调 */
.mainItem .area-left .itemShow .main_titleList {
  margin-bottom: 5px;
}

/* 子标题列表微调 */
.mainItem .area-left .itemShow .itemArea .sub_titleList {
  padding: 0 0 7px 7px;
}

/* 右边区域------------------------------------------------------- */
.mainItem .area-right {
  width: 295px;
  height: 528px;
  background: purple;
}