.nav-top {
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #f5f5f5;
}

.nav-top .area {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 5px;
}

.nav-top .area .area-left {
  display: flex;
}

.nav-top .area .area-left .logo-top {
  width: 230px;
}