body {
  width: 100%;
  height: 1300px;
  background: url("../img/datu.jpg") no-repeat top center/ 100% auto;
}

.nav-main {
  height: 84px;
  font: 14px/1.5 "Microsoft YaHei", Tahoma, "simsun", sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.nav-main .area {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 100%;
  padding-left: 230px;
}

.nav-main .area .logo {
  width: 200px;
  height: 54px;
  text-indent: -9999px;
}