/* 顶部主导航栏 */
.topbar .main-nav {
  height: 70px;
  border: 1px solid #000;
  background-color: #242424;
  color: #ccc;
}

/* 顶部主导航栏 --- 左侧*/
.topbar .main-nav .left {
  display: flex;
}

.topbar .main-nav .left .title {
  width: 177px;
  height: 69px;
  background: url("../images/topbar_sprite.png") 0 0;
  text-indent: -999px;
}

.topbar .main-nav .left .nav-list {
  display: flex;
}

.topbar .main-nav .left .nav-list .item a {
  display: block;
  padding: 0 19px;
  line-height: 69px;
  font-size: 16px;
  color: #ccc;
}

.topbar .main-nav .left .nav-list .item.active a {
  background-color: #000;
}